# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
LSFJOB*
# no python compiled files:
*pyc
# no python init file
python/__init__.py

test/*.root
test/old
test/*dict_rdict*
test/*.so
test/*.d
# no private directory
backup
private
